/* Default */
body{
    margin: 0;
    padding: 0;
    background: url('../bg.jpg') no-repeat;
    background-position: center;
}
hr{
    color: white;
    width: 60%;
}
/* FIM Default  */


/* Main Principal */
.banner-construct{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}
    /* banner principal  */
    .banner-square{
        width:  80%;
        height: 85vh;
        background-color:rgba(0, 0, 0, 0.644);
        margin-top: 10%;
        display: grid;
        grid-template-rows: 20% 10% 30% 25% 15%;
        grid-template-columns: 100%;
        border-radius: 5%
    }

        /* Área Logotipo  */
        .banner-square-logo{
            grid-row: 1 / 2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .banner-square-logo img{
                max-width: 80%;
                max-height: 80%
            }
        
        /*  Área Redes Sociais */
        .banner-square-follow{
            grid-row: 2 / 3;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .banner-square-follow a{
                text-decoration: none;
                color: #e32227;
                margin: 0 4%;
                font-size: 2.5em;
            }

        /* Área Endereço e Contato */
        .banner-square-address{
            grid-row: 3 / 4;
            padding: 0 4%;
        }
            .address, .phone{
                display: flex;
                align-items: center;
            }
                .address i, .phone i{
                    font-size: 1.9em;
                    padding: 2%;
                    margin-right: 1%;
                    color: #e32227;
                }
                .address p, .phone p{
                    font-family: 'PT Sans Narrow', sans-serif;
                    font-size: 1em;
                    line-height: 14pt;
                    font-weight: 600;
                    color:  white;
                }
        
        /* Barra de carregamento  */
        .banner-square-loading{
            grid-row: 4 / 5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            .banner-loading-title{
                font-family: 'PT Sans Narrow', sans-serif;
                color: white;
                font-size: 2em;
                margin: 0;
                font-weight: 500;
            }
            .banner-square-loading img{
                max-width: 100%;
            }
        
        /* Área de Botão de Cadastro */
        .banner-square-btnCad{
            grid-row: 5 / -1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .banner-square-btnCad a{
                text-decoration: none;
                padding: 4% 5%;
                border-radius: 20%;
                color: white;
                background-image: linear-gradient(#e32227, rgb(117, 50, 50));
                box-shadow: 1px 4px 5px 1px rgba(255, 255, 255, 0.123);
                text-transform: uppercase;
                font-family: 'PT Sans Narrow', sans-serif;
            }

/* Ajuste Para Telas com Largura minima de 375px */
@media screen and (min-width: 375px){
    .banner-square{
        width:  85%;
        height: 80vh;
    }
}

/* Ajuste Para Telas com Largura minima de 375px */
@media screen and (min-width: 375px) and (min-height: 812px) {
    .banner-square{
        width:  85%;
        height: 60vh;
    }
}

/* Ajuste Para Telas com Largura minima de 568px(Tablets) */
@media screen and (min-width: 568px){
    .banner-square{
        width: 40vw;
        height: 90vh;
        margin-top: 2%;
    }

     /* Barra de carregamento  */
        .banner-loading-title{
            font-size: 1em;
            margin: 0;
        }
        .banner-square-loading img{
            width: 60%;
        }

      /* Área Endereço e Contato */
      .address i, .phone i{
        font-size: 1em;
        padding: 0 2%;
    }
    .address p, .phone p{
        font-size: 0.8em;
        line-height: 10pt;
    }
    hr{
        text-align: center;
        width: 60%;
        margin: 0;
        display: block;
        margin: auto;
    }

     /* Área de Botão de Cadastro */
        .banner-square-btnCad a{
            padding: 2% 4%;
            font-size: .8em;
        }

    /*  Área Redes Sociais */
    .banner-square-follow a{
        margin: 0 2%;
        font-size: 1.5em;
    }
}

/* Ajuste Para Telas com Largura minima de 640px(Tablets) */
@media screen and (min-width: 640px){
    .banner-square{
        width: 40vw;
        height: 90vh;
        margin-top: 2%;
        grid-template-rows: 20% 8% 40% 20% 12%;
    }

    /* Área Endereço e Contato */
    .address i, .phone i{
        font-size: 1.5em;
        padding: 0 2%;
    }
    .address p, .phone p{
        font-size: .8em;
        line-height: 12pt;
    }

    /*  Área Redes Sociais */
    .banner-square-follow a{
        margin: 0 2%;
        font-size: 2em;
    }

    .banner-square-btnCad a{
        font-size: .4em;
        padding: 2%;
    }

    /* Barra de carregamento  */
    .banner-square-loading{
        grid-row: 4 / 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .banner-loading-title{
            font-family: 'PT Sans Narrow', sans-serif;
            color: white;
            font-size: 1.5em;
            margin: 0;
            font-weight: 500;
        }
        .banner-square-loading img{
            width: 50%;
        }
}

/* Ajuste Para Telas com Largura minima de 731px(Tablets) */
@media screen and (min-width: 731px){
    .banner-square{
        width: 30vw;
        height: 70vh;
    }

     /*  Área Redes Sociais */
     .banner-square-follow a{
        font-size: 1.5em;
    }
}


/* Ajuste Para Telas com Largura minima de 768px(Tablets) */
@media screen and (min-width: 768px){
    .banner-square{
        width:  70%;
        height: 70vh;
        grid-template-rows: 20% 10% 35% 20% 15%;
        grid-template-columns: 100%;
    }

     /* Área Endereço e Contato */
            .address i, .phone i{
                font-size: 3.4em;
                padding: 0 2%;
            }
            .address p, .phone p{
                font-size: 2em;
                line-height: 28pt;
            }
            hr{
                text-align: center;
                width: 60%;
                margin: 0;
                display: block;
                margin: auto;
            }

        /* Área Logotipo  */
            .banner-square-logo img{
                max-width: 70%;
                max-height: 70%
            }

              /*  Área Redes Sociais */
            .banner-square-follow a{
                font-size: 3.5em;
            }

            /* Barra de carregamento  */
        .banner-square-loading{
            grid-row: 4 / 5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            .banner-loading-title{
                font-size: 3em;
            }
            .banner-square-loading img{
                width: 80%;
            }

             /* Área Botão cadastro */
        .banner-square-btnCad a{
            font-size: 1em;
            padding: 2%;
        }
}

/* Ajuste Para Telas com Largura minima de 823px(Tablets) */
@media screen and (min-width: 812px){
    .banner-square{
        width: 30vw;
        height: 80vh;
    }

    /* Barra de carregamento  */
        .banner-loading-title{
            font-size: 1em;
            margin: 0;
        }

    /*  Área Redes Sociais */
    .banner-square-follow a{
        margin: 0 2%;
        font-size: 1.3em;
    }

    /* Área Botão cadastro */
    .banner-square-btnCad a{
        font-size: .7em;
        padding: 2%;
    }

    /* Área Endereço e Contato */
    .address i, .phone i{
        font-size: 1.5em;
        padding: 0 2%;
    }
    .address p, .phone p{
        font-size: .8em;
        line-height: 10pt;
    }
}

/* Ajuste Para Telas com Largura minima de 1024px(Tablets) */
@media screen and (min-width: 1024px){
    .banner-square{
        width:  30%;
        height: 60vh;
        grid-template-rows: 20% 10% 30% 25% 15%;
    }

    /*  Área Redes Sociais */
    .banner-square-follow a{
        margin: 0 2%;
        font-size: 1.9em;
    }

    /* Área Endereço e Contato */
    .address i, .phone i{
        font-size: 2em;
        padding: 0 2%;
    }
    .address p, .phone p{
        font-size: 1em;
        line-height: 15pt;
    }

    .banner-loading-title{
        font-size: 2em;
    }
    .banner-square-btnCad a{
        font-size: 1em;
    }
}

/* Ajuste Para Telas com Largura minima de 1024px(Tablets) */
@media screen and (min-width: 1024px) and (min-height: 1366px){
    .banner-square{
        width:  30%;
        height: 35vh;
        margin-top: 2%;
    }

}


/* Ajuste Para Telas com Largura minima de 1280px(Tablets) */
@media screen and (min-width: 1280px) and (min-height: 800px){
    .banner-square{
        width:  30%;
        height: 75vh;
        margin-top: 2%;
    }

    .banner-square-follow a{
        font-size: 3em;
    }

    .banner-square-btnCad a{
        font-size: 1.5em;
    }

    /* Área Endereço e Contato */
    .address i, .phone i{
        font-size: 3em;
        padding: 0 2%;
    }
    .address p, .phone p{
        font-size: 1.4em;
        line-height: 20pt;
    }
}




/* Ajuste Para Telas com Largura minima de 1300px(Tablets) */
@media screen and (min-width: 1300px){
    .banner-square{
        width:  30%;
        height: 80vh;
        margin-top: 2%;
        grid-template-rows: 20% 10% 35% 20% 15%;
    }

    .banner-square-btnCad a{
        font-size: 1.2em;
    }

    /* Área Endereço e Contato */
    .address i, .phone i{
        font-size: 3em;
        padding: 0 2%;
    }
    .address p, .phone p{
        font-size: 1.4em;
        line-height: 20pt;
    }

    /*  Área Redes Sociais */
        .banner-square-follow a{
            margin: 0 2%;
            font-size: 2.7em;
        }

     /* Área de Botão de Cadastro */
        .banner-square-btnCad a{
            padding: 2% 3%;
            font-size: 1.2em;
        }

        .banner-square-loading img{
            width: 50%;
        }
}

/* Ajuste Para Telas com Largura minima de 1366px(Tablets) */
@media screen and (min-width: 1366px) and (min-height: 1024px){
    .banner-square{
        width:  30%;
        height: 50vh;
        margin-top: 2%;
        grid-template-rows: 20% 10% 35% 20% 15%;
    }
}

/* Ajuste Para Telas com Largura minima de 1440px(Tablets) */
@media screen and (min-width: 1440px){
    .banner-square{
        width:  30%;
        height: 60vh;
        margin-top: 2%;
        grid-template-rows: 20% 10% 35% 20% 15%;
    }
}



/* Ajuste Para Telas com Largura minima de 1600px(Tablets) */
@media screen and (min-width: 1600px){
    body{
        background-size: cover;
        background-attachment: fixed;
    }
    .banner-square{
        height: 50vh;
    }
}

/* Ajuste Para Telas com Largura minima de 1680px(Tablets) */
@media screen and (min-width: 1680px){
    .banner-square{
        height: 60vh;
    }
}

/* Ajuste Para Telas com Largura minima de 1900px(Tablets) */
@media screen and (min-width: 1900px){
    .banner-square{
        width: 20vw;
        height: 50vh;
    }
}





