/* CUSTOMIZAÇÃO DAS SECTIONS */
@import url('https://fonts.googleapis.com/css?family=Cabin');

/* Section Home */
.container-home{
    grid-row: 2 / 3;
    background-color: rgba(0, 0, 0, 0.966);
}
    .home-article{
        padding: 5%;
    }
    .home-slide{
        height: 55%;
        width: 100%;
        background-color: yellow;
    }
        .home-slide img{
            max-height: 100%;
            max-width: 100%;
        }
    
        .home-article p{
            color: white;
            font-family: 'Cabin', sans-serif;
            font-size: 1.3em;
            text-align: left;
            line-height: 25pt;
            margin-bottom: 5%;
        }
        .home-article a{
            color: white;
            font-weight: 600;
            font-family: 'Cabin', sans-serif;
            font-size: 1.3em;
            border: solid 2px white;
            padding: 3% 7%;
            border-radius: 30%;
            float: right;
        }

/* Section Empresa */
.container-empresa{
    grid-row: 3 / 4;
    background-image: url(../../img/empresa.png);
    background-attachment: fixed;
    font-family: 'Cabin', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 6% 6%;
}
    .empresa-article{
        width: 100%;
        height: 30%;
        margin: 0 0 10% 0;
        box-sizing: border-box;
    }   
        .container-empresa p{
            font-size: 100%;
            color: white;
            text-align: center;
            letter-spacing: 2px;
        }
        .empresa-article h2{
            font-size: 2em;
            color: white;
            text-transform: capitalize;
            text-align: center;
            margin-bottom: 5%;
        }
        .empresa-icon{
            grid-column: 1 / 2;  
            font-size: 3.5em;
            text-align: center;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 3%;
        }

/* Section Portfólio */
.container-portfolio{
    grid-row: 4 / 5;
    background-color: rgba(0, 0, 0, 0.966);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20% repeat(3, 22%);
    grid-gap: 1%;
}
   
    .portfolio-bloco01{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        display: flex;
        align-content: center;
        align-items: center;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Cabin', sans-serif;
        overflow: hidden;
    }
    .portfolio-bloco02{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        display: flex;
        align-content: center;
        align-items: center;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Cabin', sans-serif;
        overflow: hidden;
    }
    .portfolio-bloco03{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        display: flex;
        align-content: center;
        align-items: center;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Cabin', sans-serif;
        overflow: hidden;
    }
    .portfolio-bloco04{
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        display: flex;
        align-content: center;
        align-items: center;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Cabin', sans-serif;
        overflow: hidden;
    }
    .portfolio-bloco05{
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        display: flex;
        align-content: center;
        align-items: center;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Cabin', sans-serif;
        overflow: hidden;
    }
    .portfolio-bloco06{
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        display: flex;
        align-content: center;
        align-items: center;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Cabin', sans-serif;
        overflow: hidden;
    }
    .portfolio-bloco01 img,
    .portfolio-bloco02 img,
    .portfolio-bloco03 img,
    .portfolio-bloco04 img,
    .portfolio-bloco05 img,
    .portfolio-bloco06 img{
        max-width: 100%;
        max-height: 100%;
    }
        .portfolio-bloco01 figcaption,
        .portfolio-bloco02 figcaption,
        .portfolio-bloco03 figcaption,
        .portfolio-bloco04 figcaption,
        .portfolio-bloco05 figcaption,
        .portfolio-bloco06 figcaption{
            color: white;
            background: red;
            padding: 5% 0;
            position: absolute;
            bottom: 0;
            width: 100%;
            opacity: 0.8;
        }

/* Section clientes */
.container-clientes{
    grid-row: 5 / 9;
    background-image: url('../../img/clientes.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10%;
}   
    .article-clientes{
        display:  flex;
        flex-direction: column;
        align-items: center;
    }
        .article-clientes img{
            width: 50%;
            height: auto;
            margin: 8% 0 0 0;
        }


/* Section contatos */
.container-contatos{
    grid-row: 9 / 10;
    background-color: rgba(0, 0, 0, 0.966);
    position: relative;
    display: flex;
    flex-direction: column;
}
    .contatos-maps{
        width: 100%;
        height: 55%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
        background-color: red;
    }
    .container-contatos footer{
        background-color: black;;
        height: 8%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Cabin', sans-serif;
        color: white;
        position: absolute;
        bottom: 0;
        box-shadow: 1px 1px 20px 4px red;
    }
    .contatos-Rsociais{
        width: 100%;
        height: 37%;
        display: flex;
        flex-direction: column;
    }
    .contatos-Rsociais p{
        color: white;
        text-transform: uppercase;
        font-family: 'Cabin', sans-serif;
        text-align: center;
        padding: 3% 0;
        font-size: 2rem;
        box-sizing: border-box;
    }
    .icon-redes{
        text-align: center;
        height: 50%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: solid 1px rgba(255, 255, 255, 0.322);
    }
        .icon-redes img{
            width: 90%;
            height: 90%;
        }
    .contatos-phone{
        height: 25%;
        widows: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .contatos-phone img{
            width: 10%;
        }
        .contatos-phone p{
            font-size: 2rem;
            font-family: 'Cabin', sans-serif;
        }

/* AJUSTE DE TELA 320px de LARGURA  */
    @media screen and (max-width: 320px){

/* Section Home */
    .home-article p{
        font-size: 1em;
    }
    .home-article a{
        font-size: 1.1em;
    }

/* Section Empresa */
.container-empresa{
    padding: 1% 1%;
}
    .empresa-article{
        margin: 0 0 6% 0;
    }   
        .container-empresa p{
            font-size: 1em;
        }
}
    